<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2025 FairPhone B.V.
  ~
  ~ SPDX-FileCopyrightText: 2025. FairPhone B.V.
  ~
  ~ SPDX-License-Identifier: EUPL-1.2
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission needed to access/modify DND policies -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- Permission needed to display overlay on top of other activities -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Permissions needed for demo mode pop-up -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissions needed for location-based Moment triggers. Location is only read when
         a Moment is activated (in the foreground), so no background location is required. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permission needed to access all user profiles -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />

    <!-- Permission needed to enable/sable power saving mode -->
    <uses-permission android:name="android.permission.POWER_SAVER"
        tools:ignore="ProtectedPermissions" />

    <!-- Permissions needed to change lockscreen wallpaper -->
    <!-- TODO: Google rejected our update in PlayStore because of this permission, so we are removing it until the issue is fixed. -->
    <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- Permission needed to change dark/light theme -->
    <uses-permission android:name="android.permission.MODIFY_DAY_NIGHT_MODE"
        tools:ignore="ProtectedPermissions" />

    <!-- Permission needed to change airplane mode -->
    <uses-permission android:name="android.permission.NETWORK_AIRPLANE_MODE"
        tools:ignore="ProtectedPermissions" />

    <!-- Permission needed to change screen brightness -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Permission needed to change audio settings -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING"
        tools:ignore="ProtectedPermissions" />

    <!-- Permission needed to use advertising id for Google Analytics by Google Play policy: https://support.google.com/googleplay/android-developer/answer/6048248?hl=en -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <!-- Permission needed to read contacts from device -->
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->

    <!-- Permission needed to post intercepted notifications -->
    <!--<uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" tools:ignore="ProtectedPermissions" />-->
    <!--<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->

    <!-- Permissions for Call Interception -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.READ_CALL_LOG" />-->

    <application
        android:name=".App"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpringLauncher">

        <activity
            android:name=".activity.SpringLauncherHomeActivity"
            android:clearTaskOnLaunch="true"
            android:enableOnBackInvokedCallback="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpringLauncher.Home"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SwitchStateChangeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="screenSize|keyboardHidden|screenLayout|orientation|layoutDirection|uiMode|colorMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="SwitchStateChange"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActivityTransparent"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.fairphone.action.SHOW_SWITCH_BUTTON_HINT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LauncherSettingsActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="SwitchStateChange"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpringLauncher.Settings"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.fairphone.action.SPRING_LAUNCHER_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DoNotDisturbPermissionRationaleDialogActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActivityTransparent"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <!-- TODO: Disabling these components for now until they are properly implemented -->
        <!--
        <service android:name=".service.NotificationInterceptorService"
            android:label="notification listener"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="ongoing|conversations|alerting|silent">
            </meta-data>
        </service>

        <receiver
            android:name=".receiver.CallInterceptorReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        !-->
    </application>
</manifest>
